.project
.classpath
.~lock.GUIDraft.fodg#
~$ojectPaper.docx
~$BankPresentation.pptx
bin/*
src/*.class
BankPresentation.pptx
ProjectPaper.docx
GUIDraft.png
GUIDraft2.png
GUIDraft3.png
GUIDraftATM1.png
GUIDraft.fodg
src/ClientGUI1.java